.m-footer {
  height: 146px;
  text-align: center;
  box-sizing: border-box;
  padding-top: 20px;
  min-width:1280px;
  ul {
    width: 100%;
    li {
      display: inline-block;
      padding: 0 10px;
      font-size: 16px;
      height: 16px;
      border-right: solid 1px @base-color;
      line-height: 16px;
      color: @base-color;
      &:first-child {
        border: 0;
        position: relative;
        width: 100px;
        img {
          position: absolute;
          top: 0;
          left: 0;
        }
      }
      &:last-child {
        border: 0
      }
    }
  }
  p {
    margin-top: 20px;
    font-size: 14px;
  }
}
