@oddColor:#49b0f7;
@evenColor:#ff8a0c;
.m-indexlist{
    width: 100%;
    box-sizing: border-box;
    min-width: @min-width;
  .banner{
    width: 100%;
    height: 450px;
    background-image: url('/build/images/banner.png');
    background-size:cover;
    padding-top: 38px;
    .logo{
      width:183px;
      height:218px;
      margin:0 auto;
      position:relative;
      a{
        display:block;
      }
      .banner_logo1{
        width:100%;
        height:100%;
        display:block;
      }
      .banner_logo2{
        position:absolute;
        width:60px;
        height:53px;
        top:76px;
        left:7px;
      }
      .banner_logo3{
        position:absolute;
        top:76px;
        right:38px;
      }
    }
    .banner_word{
      width:119px;
      height:50px;
      margin:13px auto 0;
    }
    .banner_slogan{
      font-size:36px;
      color:#fff;
      font-family:PingFangSC-Regular;
      opacity:.8;
      filter:alpha(opacity=80);
      -moz-opacity:.8;
      -khtml-opacity:.8;
      text-align:center;
      margin-top:10px;
      span{
        height:100%;
        i{
          font-style:normal;
          font-size:48px;
        }
      }
    }
    .banner_line{
      height:1px;
      border:1px solid #fff;
      width:122px;
      margin:15px auto 0;
      opacity:.5;
      filter:alpha(opacity=50);
      -moz-opacity:.5;
      -khtml-opacity:.5;
    }
  }
  .index_suggest{
    margin-top: 43px;
    overflow: hidden;
    width: 1064px;
    margin: 20px auto;
    background: #fff;
    padding: 20px 0 20px 20px;
    .index_list{
      margin-top: 10px;
      .index_vedio{
        float:left;
        width: 237px;
        margin-right: 24px;
        cursor: pointer;
        dl{
          dt{
            position:relative;
            .background{
              width:100%;
              height: 160px;
            }
            .video{
              position:absolute;
              width: 52px;
              height: 52px;
              top: 50%;
              left: 50%;
              margin-left:-26px;
              margin-top:-26px;
              cursor:pointer;
            }
            .corner{
              position:absolute;
              width: 15px;
              height: 20px;
              top: 50%;
              left: 50%;
              margin-left: -7.5px;
              margin-top: -10px;
              cursor:pointer;
            }
          }
          dd{
            width:338px;
            font-family:PingFangSC-Regular;
            text-align:left;
          }
          .vedio_title{
            font-size: 18px;
            color: #000;
            letter-spacing: 0.29px;
            padding-top: 5px;
          }
          .vedio_time{
            font-family:PingFangSC-Regular;
            font-size:14px;
            color: #9b9b9b;
            letter-spacing:0.19px;
            text-align:left;
          }
          .vedio_decription{
            font-family:PingFangSC-Regular;
            font-size: 14px;
            color: #6f6f6f;
            letter-spacing: 0.19px;
            text-align: left;
            padding-top: 3px;
            padding-bottom: 30px;
          }
        }
      }
    }
  }
  .index_news{
    margin: 0 auto;
    margin-top: 20px;
    width: 1064px;
    background: #fff;
    height: 700px;
    padding-top: 30px;
    .news_list:nth-of-type(2n){
      float: left;
      width: 320px;
      margin: 0 10px 0 30px;
      .news_content{
        overflow:hidden;
        border-top: 4px solid #fff;
        border-top-color:@evenColor;
        box-sizing:border-box;
        padding: 24px 0 0;
        background:#ffffff;
        width:100%;
        height:600px;
        .news_content_list{
          font-family:PingFangSC-Regular;
          font-size:14px;
          color:rgba(0,0,0,0.50);
          letter-spacing:0.17px;
          text-align:left;
          cursor: pointer;
          .news_content_time{
            color:@evenColor;
          }
        }
      }
      .index_title{
        border-left: 4px solid @evenColor;
        p{
          color:@evenColor;
        }
      }
    }
    .news_list:nth-of-type(2n+1){
      width: 320px;
      float:left;
      margin-left: 20px;
      .news_content{
        overflow:hidden;
        border-top: 4px solid #fff;
        border-top-color: @oddColor;
        box-sizing:border-box;
        padding:24px 20px 0;
        background:#ffffff;
        width:100%;
        height:600px;
        .news_content_list{
          font-family:PingFangSC-Regular;
          font-size:14px;
          color:rgba(0,0,0,0.50);
          letter-spacing:0.17px;
          text-align:left;
          .news_content_time{
            color:@oddColor;
          }
          cursor: pointer;
        }
      }
    }
  }
}
