.index_title {
  width:100%;
  border-left: 4px solid #49b0f7;
  height: 24px;
  margin-bottom: 17px;
  p {
    padding-left: 10px;
    font-size:24px;
    color:#49b0f7;
    line-height:24px;
    text-align:left;
    float:left;
  }
  span{
    cursor:pointer;
    float:right;
    font-family:AvenirNext-Regular;
    font-size:16px;
    color: #9b9b9b;
    letter-spacing:0;
    text-align:center;
    font-weight: 100;
  }
}

.index_suggest .index_title span {
  margin-right: 20px;
}
