.m-video-list {
  width: 100%;
  box-sizing: border-box;
  padding: 20px;
  min-width: @min-width;
  .nav {
    background: #fff;
    box-sizing: border-box;
    padding: 10px 40px 40px 40px;
    .cat {
      border-bottom: dashed 1px #e5e5e5;
      position: relative;
      .title {
        top: 34px;
        position: absolute;
        width: 100px;
        color: #7f7f7f;
        font-weight: normal;
      }
      .content {
        line-height: 50px;
        padding-left: 100px;
        padding-bottom: 15px;
      }
    }
    ul {
      padding-top: 25px;
      li {
        display: inline-block;
        color: #7f7f7f;
        width: 200px;
        font-size: 24px;
        text-align: center;
        &.title {
          text-align: left;
          width: 100px;
        }
        i {
          font-style: normal;
          padding: 10px 40px;
          cursor:pointer;
          &.active{
            background: @base-color;
            color: #fff;

          }
        }
      }
    }
  }
  .list {
    background: #fff;
    box-sizing: border-box;
    margin-top: 20px;
    padding-bottom: 50px;
    .ant-tabs-nav {
      margin: 12px 0 0 40px;
      font-size: 22px;
      .ant-tabs-tab-active {
        color: #ff8a0c;
      }
      .ant-tabs-ink-bar {
        background-color: #ff8a0c;
      }
    }
    .m-list-content{
      .video_wrap{
        float:left;
        width:325px;
        margin:20px 60px 0 0;
        cursor: pointer;
        dl{
          margin-left:3px;
          dt{
            position:relative;
            .background{
              width:100%;
              height:267px;
            }
            .video{
              position:absolute;
              top:50%;
              left:50%;
              margin-left:-45px;
              margin-top:-45px;
              cursor:pointer;
            }
            .corner{
              position:absolute;
              top:50%;
              left:50%;
              margin-left:-9px;
              margin-top:-15px;
              cursor:pointer;
            }
          }
          dd{
            width:338px;
            font-family:PingFangSC-Regular;
            text-align:left;
          }
          .vedio_title{
            font-size:24px;
            color:#000000;
            letter-spacing:0.29px;
          }
          .vedio_time{
            font-family:PingFangSC-Regular;
            font-size:16px;
            color:#4b98f8;
            letter-spacing:0.19px;
            text-align:left;
          }
          .vedio_decription{
            font-family:PingFangSC-Regular;
            font-size:16px;
            color:rgba(0,0,0,0.50);
            letter-spacing:0.19px;
            text-align:left;
          }
        }
      }
      .index_vedio:last-of-type{
        margin:20px 0 0;
      }
    }
  }
  .ant-pagination{
    text-align:center;
    margin-top:47px;
    margin-bottom:67px;
    li{
      background:#f1f1f1;
      &.ant-pagination-item-active{
        background-color:#71c5ff;
        border-color:#71c5ff;
      }
      &:hover{
        border-color:#71c5ff;
      }
    }
  }
}
