.m-video-list {
  box-sizing: border-box;
  padding: 20px;
  .nav {
    background: #fff;
    box-sizing: border-box;
    padding: 0 40px;
    ul {
      height: 104px;
      line-height: 104px;
      &:first-child {
        border-bottom: dashed 1px #e5e5e5;
      }
      li {
        display: inline-block;
        color: #7f7f7f;
        width: 200px;
        font-size: 24px;
        text-align: center;
        &:first-child {
          text-align: left;
          width: 100px;
        }
        i {
          font-style: normal;
          background: @base-color;
          line-height: 104px;
          padding: 10px 40px;
          color: #fff;
        }
      }
    }
  }
}
