.m-qanda-list {
  width: 1064px;
  box-sizing: border-box;
  margin: 0 auto;
  margin-top: 20px;
  .go-q{
    height: 148px;
    img{
      width:100%;
      height:100%;
    }
  }
  .nav {
    background: #fff;
    box-sizing: border-box;
    margin-top: 20px;
    padding: 0 20px;
    .cat {
      position: relative;
      .title {
        top: 20px;
        width: 120px;
        height: 44px;
        text-align: center;
        position: absolute;
        width: 100px;
        color: #fff;
        font-weight: 100;
        font-size: 20px;
        line-height: 44px;
        background: #819ac3;
      }
      .content {
        line-height: 50px;
        padding-left: 100px;
        padding-top: 18px;
      }
    }
    ul {
      padding-top: 15px;
      li {
        display: inline-block;
        font-size: 20px;
        text-align: center;
        &.title {
          width: 120px;
          height: 44px;
          text-align: center;
          width: 100px;
          color: #fff;
          font-weight: 100;
          font-size: 20px;
          line-height: 44px;
          background: #819ac3;
        }
        i {
          color: #666;
          font-style: normal;
          padding: 10px 40px;
          cursor:pointer;
          &.active{
            color: #819ac3;
          }
        }
      }
    }
  }
  .list {
    box-sizing: border-box;
    background: #fff;
    .ant-table{
      background: #fff;
      padding: 0 20px;
    }
    .ant-table-placeholder {
      margin-bottom: 40px;
    }
    table{
      border-left:1px solid #d3d9dd;
      border-right:1px solid #d3d9dd;
      margin-bottom:42px;
      thead {
        width:1360px;
        height: 50px;
        th {
          text-align: center;
          color: #ffffff;
          background-color: #a8b4c9;
          font-size: 20px;
          height: 50px;
        }
      }
      tbody {
        text-align: center;
        td{
          font-size: 18px;
          height: 50px;
        }
      }
    }
    ul{
      width: 100%;
      text-align: center;
      padding-bottom: 42px;
      li {
        background:#f1f1f1;
        &.ant-pagination-item-active{
          background-color: #ff8a0c;
          border-color: #ff8a0c;
        }
        &:hover{
          border-color: #ff8a0c;
        }
      }
    }
  }
  .ant-tabs-bar {
    background: #fff;
    margin-bottom: 0;
  }

  .ant-tabs-nav-scroll {
    width: 100%;
  }

  .ant-tabs-line {
    overflow: inherit;
  }

  .ant-tabs-nav-container {
    overflow: inherit;
  }

  .ant-tabs-nav-wrap {
    overflow: inherit;
  }

  .ant-tabs-nav {
    padding: 10px 0;
    font-size: 22px;
    .ant-tabs-tab-active {
      color: #ff8a0c;
    }
    .ant-tabs-ink-bar {
      background-color: #ff8a0c;
    }
  }
}

.m-favorite-list {
  margin-top: 10px;
  .nav {
    margin-top: 0;
    .cat {
      padding: 20px 0;
      position: static;
      .title {
        position: static;
      }
    }
  }
}
